contractions
deep-translator
fastapi
joblib
langdetect       
matplotlib
nltk
numpy
openai
pandas
scikit-learn
scikit-multilearn
seaborn
spacy
torch
torchaudio
torchvision 
torch_geometric
transformers
uvicorn
wordcloud